<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=4.4.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
  </configSections>
  <appSettings>
    <add key="log4net.Config" value="log4net.config"/>
    <add key="log4net.Config.Watch" value="True"/>
    <add key="log4net.Internal.Debug" value="true"/>
    <add key="GridProteinFolding" value="GridProteinFolding"/>
    <add key="dirDownload" value="C:\GridProteinFolding\Web\download\"/>
    <add key="dirBaseServer" value="C:\GridProteinFolding\Server\"/>
    <add key="dirBaseWeb" value="C:\GridProteinFolding\Web\"/>
    <add key="webServerName" value="efolding.fcfrp.usp.br"/>
  </appSettings>
  <connectionStrings>
    <add name="GridProteinFoldingEntities" connectionString="metadata=res://*/Internal.Model.csdl|res://*/Internal.Model.ssdl|res://*/Internal.Model.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=.\sqlexpress;Initial Catalog=GridProteinFolding;User ID=gridProteinFolding;password=123mudar!@#;pooling=False;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
    <add name="GridProteinFolding_MemberShipEntities" connectionString="metadata=res://*/Membership.Model.csdl|res://*/Membership.Model.ssdl|res://*/Membership.Model.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=.\sqlexpress;Initial Catalog=GridProteinFolding_MemberShip;User ID=gridProteinFolding;password=123mudar!@#;pooling=False;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
    <add name="ApplicationServices" connectionString="Data Source=.\sqlexpress;Initial Catalog=GridProteinFolding_MemberShip;User ID=gridProteinFolding;password=123mudar!@#" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.6.1" />
      </system.Web>
  -->
  <system.web>
    <customErrors mode="Off"/>
    <globalization culture="pt-BR" uiCulture="pt-BR"/>
    <authorization>
      <deny users="?"/>
    </authorization>
    <compilation debug="true" targetFramework="4.6.1">
      <assemblies>
        <add assembly="System.Data.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
      </assemblies>
    </compilation>
    <authentication mode="Forms">
      <forms loginUrl="~/Account/Login.aspx" timeout="2880"/>
    </authentication>
    <membership>
      <providers>
        <clear/>
        <add name="AspNetSqlMembershipProvider" type="System.Web.Security.SqlMembershipProvider" connectionStringName="ApplicationServices" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10" applicationName="/"/>
      </providers>
    </membership>
    <profile>
      <providers>
        <clear/>
        <add name="AspNetSqlProfileProvider" type="System.Web.Profile.SqlProfileProvider" connectionStringName="ApplicationServices" applicationName="/"/>
      </providers>
    </profile>
    <roleManager enabled="true">
      <providers>
        <clear/>
        <add connectionStringName="ApplicationServices" applicationName="/" name="AspNetSqlRoleProvider" type="System.Web.Security.SqlRoleProvider"/>
        <add applicationName="/" name="AspNetWindowsTokenRoleProvider" type="System.Web.Security.WindowsTokenRoleProvider"/>
      </providers>
    </roleManager>
    <pages controlRenderingCompatibilityVersion="4.0"/>
  </system.web>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
  </system.webServer>
  <system.serviceModel>
    <bindings>
      <netTcpBinding>
        <binding name="NetTcpBinding_IDocumentManagment">
          <security mode="None"/>
        </binding>
        <binding name="NetTcpBinding_IService">
          <security mode="None"/>
        </binding>
      </netTcpBinding>
    </bindings>
    <client>
      <endpoint address="net.tcp://localhost:1111/GridProteinFolding/ServiceDistributed/DocumentManagment/" binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IDocumentManagment" contract="ServiceDocument.IDocumentManagment" name="NetTcpBinding_IDocumentManagment">
        <identity>
          <dns value="localhost"/>
        </identity>
      </endpoint>
      <endpoint address="net.tcp://localhost:1111/GridProteinFolding/ServiceDistributed/Service/" binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IService" contract="ServiceDistributed.IService" name="NetTcpBinding_IService">
        <identity>
          <dns value="localhost"/>
        </identity>
      </endpoint>
    </client>
  </system.serviceModel>
  <system.net>
    <mailSettings>
      <smtp from="efoldingprotein@gmail.com">
        <network host="smtp.googlemail.com" password="i95PRS8cHFEqpXwAiJScM/XVduY8RJ9M|" port="587" userName="efoldingprotein@gmail.com"/>
      </smtp>
    </mailSettings>
  </system.net>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework"/>
  </entityFramework>
</configuration>