<?xml version="1.0"?>
<configuration>

  <location path="Login.aspx">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>

  <location path="Register.aspx">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>

  <location path="PasswordRecovery.aspx">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>

  <location path="ChangePassword.aspx">
    <system.web>
      <authorization>
        <allow roles="Admin" />
        <deny users="?" />
      </authorization>
    </system.web>
  </location>

  <location path="ChangePasswordSuccess.aspx">
    <system.web>
      <authorization>
        <allow roles="Admin" />
        <deny users="?" />
      </authorization>
    </system.web>
  </location>

</configuration>
